* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.world {
    overflow: hidden;
    position: relative;
    /* border: 2px solid #000; */
}


.high-score {
    align-items: center;
    margin: 1rem auto;
    text-align: center;
}

.high-score-table {
    width: 80vw;
    max-width: 600px;
    background-color: bisque;
}

.high-score-table li{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
}

.start-screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%)
}

.character {
    --bottom: 7;
    --height: 30;
    height: calc(var(--height) * 1%);
    position: absolute;
    bottom: calc(var(--bottom) * 1%);
    z-index: 99;
}

.pipe {
    height: 30%;
    position: absolute;
    left: calc(var(--left) * 1%);
    bottom: 0;
}